# Secret key for JSON Web Token.
# Example: a-string-secret-at-least-256-bits-long
JWT_SECRET=

# Super admin's token, used exclusively to create platform admins.
# Example: i-am-a-super-admin
SUPER_ADMIN_TOKEN=

# PostgreSQL database connection string.
# Example: postgres://username:password@localhost:5432/database
POSTGRES_URL=

# List of Kafka brokers, separated by commas.
# Example: localhost:9092,localhost:9093
KAFKA_BROKERS=

# List of Google OAuth 2.0 client IDs, separated by commas.
# Example: xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_IDS=
